<!DOCTYPE html>
<html>

<head>
  <title>DailyReport</title>
  <!-- フォントオーサム導入 -->
  <script src="https://kit.fontawesome.com/3f94a5995c.js" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand fixed-top">
    <%= link_to "渡辺電気", root_path, id: "logo", class: "navbar-brand" %>
    <!-- 管理者でログイン時 -->
    <% if user_signed_in? && current_user.admin? %>
    <div class="navbar-text">
      <span>現在、管理者モードで<%= current_user.name %>さんがログイン中です。</span>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to "社員", admin_users_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "日報", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "現場", admin_places_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "業務", admin_projects_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
    <!-- 一般社員でログイン時 -->
    <% elsif user_signed_in? %>
    <div class="navbar-text">
      <span><%= current_user.name %>さん、本日も業務お疲れ様です。</span>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to "マイページ", user_path(current_user.id), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "日報作成", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
    <!-- ログアウト時 -->
    <% else %>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
    <% end %>
  </nav>

  <!-- メインここから -->
  <%= yield %>
  <!-- メインここまで -->

  <!-- フッターここから -->
  <footer>
    <!-- コピーライト -->
    <div class="text-center">
      <p>© 2020 Haruka Watanabe</p>
    </div>
    <!-- GitHubリンク -->
    <div class="has-icons-left text-center">
      <%= link_to 'GitHub', 'https://github.com/Haruka-W/daily_report', class: 'fab fa-github' %>
    </div>
  </footer>
  <!-- フッターここまで -->
</body>

</html>
